<!--- This is the main launch file of this project, it: -->
	<!---  Spawns a gazebo turtlebot -->
	<!---  Starts the aruco ar tracking node-->
	<!---  Starts the node the publishes motor commands based on ar-to-bot transform for robot and sim -->


<launch>
	<arg name="fiducial_length" default="0.045"/> <!--we use a smaller tag than standard aruco-->
	<arg name="verbose" default="false"/> <!--easier on proccesor-->
	<arg name="output" default="log"/> <!--easier on proccesor-->

	<include file="$(find turtlebot_target_follow)/launch/turtlebot_sim_mimic.launch"/>

	<include file="$(find turtlebot_camera_bringup)/launch/aruco_startup.launch">
		<arg name="fid_len" value = "$(arg fiducial_length)"/>
		<arg name="verbose_opt" value = "$(arg verbose)"/>
	</include> 

<!-- These params allow you to modify the forward and reverse speed of the robot when tracking as well as the speed of rotation when it loses a tag -->
	<!-- We set these to be slow due to a laggier computer. More powerful computers/sims will want to speed these up-->
	<param name="forward_vel" type = "double" value = "0.1"/> 
	<param name="reverse_vel" type = "double" value = "0.025"/>
	<param name="spin_vel" type = "double" value = "0.1"/>

	<node pkg="turtlebot_target_follow" 
        	type="target_follow_node" 
        	name="target_follow"
			output = "$(arg output)">
	</node>
</launch>
