<launch>
	<arg name="fiducial_length" default="0.045"/>
	<include file="$(find turtlebot_camera_bringup)/launch/aruco_startup.launch">
		<arg name="fid_len" value = "$(arg fiducial_length)"/>
	</include>

	<node pkg="turtlebot_target_follow" 
        	type="target_follow_node" 
        	name="target_follow"
		output = "screen">
	</node>

</launch>
